In [2]:
import pandas as pd
import numpy as np

In [12]:
colunas = ['id_turma', 'nome_ascii']

# 2010

In [6]:
turma20101 = pd.read_csv('data_science/turmas/turmas-20101.csv', sep=';')
turma20101.shape

(9818, 25)

In [9]:
turmaNew20101 = pd.read_csv('data_science/turmas_new/turmas-20101.csv', sep=';',error_bad_lines=False)
turmaNew20101.shape

b'Skipping line 1032: expected 26 fields, saw 27\n'

(9817, 26)

In [10]:
print(turma20101.columns)
print()
print(turmaNew20101.columns)

Index(['id_turma', 'codigo', 'nome_ascii', 'docente_interno',
       'docente_externo', 'nivel_ensino', 'ano', 'periodo', 'capacidade_aluno',
       'local', 'data_inicio', 'data_fim', 'codigo_turma', 'descricao_horario',
       'observacao', 'distancia', 'tipo', 'data_consolidacao', 'agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'campus_turma', 'Unnamed: 24'],
      dtype='object')

Index(['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo',
       'observacao', 'id_componente_curricular', 'nivel_ensino',
       'campus_turma', 'local', 'ano', 'periodo', 'data_inicio', 'data_fim',
       'descricao_horario', 'total_solicitacoes', 'capacidade_aluno', 'tipo',
       'distancia', 'data_consolidacao', 'agrupadora', 'id_turma_agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'Unnamed: 25'],
      dtype='object')

In [14]:
relacao_turmaNome = turma20101[colunas]

In [20]:
turma_teste = pd.merge(turmaNew20101, relacao_turmaNome, on='id_turma', how='left')
turma_teste.to_csv('data_science/turmas-teste/turma-20101.csv')

In [21]:
turma_teste.shape

(26141, 27)

# 2011 ...

In [44]:
for i in range(11,18):
    for j in range(1,3):
        print(str(i)+str(j))
        turma = pd.read_csv('data_science/turmas/turmas-20'+str(i)+str(j)+'.csv', sep=';',error_bad_lines=False)
        turmaNew = pd.read_csv('data_science/turmas_new/turmas-20'+str(i)+str(j)+'.csv', sep=';',error_bad_lines=False)
        relacao_turmaNome = turma[colunas]
        turma_teste = pd.merge(turmaNew, relacao_turmaNome, on='id_turma', how='left')
#         turma_teste.to_csv('data_science/turmas-teste/turma-20'+str(i)+str(j)+'.csv')
        turma_teste.shape

111
112
121

b'Skipping line 9958: expected 25 fields, saw 26\n'
b'Skipping line 9958: expected 26 fields, saw 27\n'

122
131
132
141
142
151
152
161
162
171
172

### Deu problema na tabela 2014.2

In [48]:
turma = pd.read_csv('data_science/turmas/turmas-20142.csv', sep=';',error_bad_lines=False)
print(turma.shape)
turmaNew = pd.read_csv('data_science/turmas_new/turmas-20142.csv', sep=';',error_bad_lines=False)
print(turmaNew.shape)

(14694, 25)
(14696, 26)

In [65]:
relacao_turmaNome = turma[colunas]
relacao_turmaNome['id_turma'] = relacao_turmaNome['id_turma'].astype(str)

turma_teste = pd.merge(turmaNew, relacao_turmaNome, on='id_turma', how='left')

# turma_teste[['id_turma']] = turma_teste[['id_turma']].astype('int64') # Objeto
# coluna_idTurmaInt = coluna_idTurma.astype('int64')
# turma_teste.id_turma.apply(int)

turma_teste.info()

# turma_teste.to_csv('data_science/turmas-teste/turma-20142.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55932 entries, 0 to 55931
Data columns (total 27 columns):
id_turma                    55932 non-null object
codigo_turma                55932 non-null object
id_docente_interno          54940 non-null object
id_docente_externo          992 non-null float64
observacao                  1496 non-null object
id_componente_curricular    55928 non-null float64
nivel_ensino                55928 non-null object
campus_turma                48248 non-null object
local                       55581 non-null object
ano                         55928 non-null object
periodo                     55928 non-null float64
data_inicio                 55928 non-null object
data_fim                    55928 non-null object
descricao_horario           53608 non-null object
total_solicitacoes          42453 non-null object
capacidade_aluno            53942 non-null object
tipo                        55926 non-null object
distancia                   55928 non-null object
data_consolidacao           52836 non-null object
agrupadora                  55926 non-null object
id_turma_agrupadora         3760 non-null object
qtd_aulas_lancadas          52834 non-null float64
situacao_turma              55926 non-null object
convenio                    0 non-null float64
modalidade_participantes    55926 non-null object
Unnamed: 25                 0 non-null float64
nome_ascii                  55930 non-null object
dtypes: float64(6), object(21)
memory usage: 11.9+ MB

/home/andreza/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy