## IRA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import missingno as msno
from pandas.plotting import parallel_coordinates
%matplotlib inline 

teste = 'teste'
teste

'teste'

In [2]:
df_matriculas = pd.DataFrame()

# importando notas de 2010 a 2017
for i in range(10,18):
    for j in range(1,3):
        print('20'+str(i)+str(j))
        df_matricula = pd.read_csv('data_science/matriculas/matriculas-de-20'+str(i)+str(j)+'.csv',sep=';')
        #concatena as tabelas de 2010 a 2017
        df_matriculas = pd.concat([df_matriculas, df_matricula])

# obtendo o id do curso de ciências e tecnologia
df_cursos = pd.read_csv('data_science/cursos-graduacao.csv', sep=';')
id_cet = df_cursos[df_cursos.nome == 'CIÊNCIAS E TECNOLOGIA'].id_curso
id_cet

20101

FileNotFoundError: File b'data_science/matriculas/matriculas-de-20101.csv' does not exist

In [14]:
# filtra tabela pelo id_curso
df_matriculasCeT = df_matriculas[df_matriculas.id_curso == float(id_cet)]

# columns = ['descricao', 'discente', 'faltas_unidade', 'id_curso', 'id_turma', 'media_final', 'nota', 'numero_total_faltas', 'reposicao', 'unidade']
# df_matriculas = df_matriculas[columns]

In [47]:
df_matriculas[df_matriculas.discente=='72eca9ca3b69e98cb6b5512b3d834913']

Empty DataFrame
Columns: [Unnamed: 10, descricao, discente, faltas_unidade, id_curso, id_turma, media_final, nota, numero_total_faltas, reposicao, unidade]
Index: []

In [15]:
df_matriculasCeT.columns

Index(['Unnamed: 10', 'descricao', 'discente', 'faltas_unidade', 'id_curso',
       'id_turma', 'media_final', 'nota', 'numero_total_faltas', 'reposicao',
       'unidade'],
      dtype='object')

In [20]:
df_turmas = pd.read_csv('data_science/turmas-2010-2017-ok.csv')
df_turmas.columns

/home/andressa/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', 'id_turma', 'codigo_turma', 'id_docente_interno',
       'id_docente_externo', 'observacao', 'id_componente_curricular',
       'nivel_ensino', 'campus_turma', 'local', 'ano', 'periodo',
       'data_inicio', 'data_fim', 'descricao_horario', 'total_solicitacoes',
       'capacidade_aluno', 'tipo', 'distancia', 'data_consolidacao',
       'agrupadora', 'id_turma_agrupadora', 'qtd_aulas_lancadas',
       'situacao_turma', 'convenio', 'modalidade_participantes'],
      dtype='object')

In [28]:
df_componentes = pd.read_csv('data_science/componentes-curriculares-presenciais-ok.csv')
df_componentes.columns

Index(['Unnamed: 0', 'id_componente', 'tipo_componente', 'codigo', 'nivel',
       'nome', 'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'permite_horario_flexivel', 'qtd_unidades', 'procedimentos_avaliacao',
       'equivalencia', 'pre_requisito', 'co_requisito', 'ementa',
       'bibliografia', 'objetivos', 'conteudo', 'competencias_habilidades',
       'referencias', 'ano_programa', 'periodo_programa', 'modalidade',
       'curso_componente'],
      dtype='object')

In [27]:
df_componentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34951 entries, 0 to 34950
Data columns (total 30 columns):
Unnamed: 0                  34951 non-null int64
id_componente               34951 non-null int64
tipo_componente             34951 non-null object
codigo                      34951 non-null object
nivel                       34951 non-null object
nome                        34950 non-null object
unidade_responsavel         34951 non-null object
ch_teorico                  34951 non-null int64
ch_pratico                  34951 non-null int64
ch_estagio                  34951 non-null int64
ch_total                    34951 non-null int64
ch_dedicada_docente         34951 non-null int64
ch_ead                      34951 non-null int64
cr_max_ead                  34951 non-null int64
permite_horario_flexivel    34951 non-null object
qtd_unidades                28194 non-null float64
procedimentos_avaliacao     4448 non-null object
equivalencia                10332 non-null object
pre_requisito               9030 non-null object
co_requisito                870 non-null object
ementa                      29718 non-null object
bibliografia                0 non-null float64
objetivos                   9737 non-null object
conteudo                    9735 non-null object
competencias_habilidades    9579 non-null object
referencias                 4445 non-null object
ano_programa                9693 non-null float64
periodo_programa            9693 non-null float64
modalidade                  34951 non-null object
curso_componente            8348 non-null object
dtypes: float64(4), int64(9), object(17)
memory usage: 8.0+ MB

In [72]:
df_discentes = pd.read_csv('secret/matriculas-2013-2017.csv', sep=';')

In [23]:
colunas_mat = ['discente', 'id_turma', 'media_final']
df_matriculasCeT = df_matriculasCeT[colunas_mat].dropna().drop_duplicates()

In [24]:
df_matriculasCeT.head(2)

                               discente  id_turma  media_final
68227  d4245b974fc45e2ef383af9c74d4aa89  57548379          9.0
87652  747fc6ff3db5cc48b86765c3372219e9  57549019          8.6

In [29]:
df_turmasNome = pd.merge(df_turmas, df_componentes, left_on='id_componente_curricular', right_on='id_componente')
df_turmasNome.head(2)

,Unnamed: 0_x,id_turma,codigo_turma,id_docente_interno,id_docente_externo,observacao,id_componente_curricular,nivel_ensino,campus_turma,local,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
0,0,1151160,01,25852.0,NaN,NaN,24054,GRADUAÇÃO,Campus Central,Departamento de Engenharia da Produção,...,x,NaN,Desenvolver no aluno o uso e o aprimoramento d...,1.\t Teoria das Filas; 2.\t Geração de Números...,O aluno deverá desenvolver as habilidades e co...,"[1] Andrade, Eduardo Leopoldino. Introdução à ...",2009.0,2.0,Presencial,NaN
1,1,1151161,01,5753006.0,NaN,NaN,24061,GRADUAÇÃO,Campus Central,Departamento de Engenharia da Produção,...,x,NaN,Proporcionar capacidades e habilidades para qu...,EMENTA:Papel da função produção. Objetivos de ...,A disciplina proporcionará ao acadêmico as seg...,"Montgomery, Cynthia e Michael E. Porter, 1998,...",2011.0,2.0,Presencial,NaN

In [31]:
colunas_turma = ['id_turma', 'nome', 'ch_total']
df_turmasNome = df_turmasNome[colunas_turma]
df_turmasNome.head(2)

   id_turma                    nome  ch_total
0   1151160               SIMULACAO        60
1   1151161  ESTRATEGIA DE PRODUCAO        60

In [64]:
df_ira = pd.merge(df_matriculasCeT, df_turmasNome, on='id_turma').drop_duplicates()
df_ira.head(2)

,discente,id_turma,media_final,nome,ch_total
0,d4245b974fc45e2ef383af9c74d4aa89,57548379,9.0,LINGUA INGLESA IX,60
1,747fc6ff3db5cc48b86765c3372219e9,57549019,8.6,TÓPICOS ESPECIAIS EM COMPUTAÇÃO XIV,60

In [67]:
df_ira['notaXch'] = df_ira['media_final']*df_ira['ch_total']

In [68]:
df_sumNotaCh = df_ira.groupby('discente').notaXch.sum().reset_index()
display(df_sumNotaCh.head(2))

df_sumCh = df_ira.groupby('discente').ch_total.sum().reset_index()
display(df_sumCh.head(2))

                           discente  notaXch
0  0004f23716a0a9743b48969a5db7970f  10243.5
1  0005a138027eba573d7f9894f5721188  17634.0

                           discente  ch_total
0  0004f23716a0a9743b48969a5db7970f      1995
1  0005a138027eba573d7f9894f5721188      3030

In [69]:
df_calIra = pd.merge(df_sumNotaCh, df_sumCh, on='discente')
df_calIra['ira'] = df_calIra['notaXch']/df_calIra['ch_total']

df_calIra.head(2)

                           discente  notaXch  ch_total       ira
0  0004f23716a0a9743b48969a5db7970f  10243.5      1995  5.134586
1  0005a138027eba573d7f9894f5721188  17634.0      3030  5.819802

In [71]:
df_calIra[df_calIra['discente'] == '8032c974c90eae91a881657fc16092f2']

                              discente  notaXch  ch_total      ira
4876  8032c974c90eae91a881657fc16092f2  20803.0      2410  8.63195