In [1]:
import pandas as pd

In [2]:
f = open("data_science/componentes-curriculares-presenciais.csv")
d = f.read()
d = d.replace("\n","")
x = d.split("\";\"")
a = []
step = 29
for i in range(0, len(x), step):
    a.append(x[i:i+step])
df = pd.DataFrame(a[1:],columns=['id_componente']+a[0][1:])

In [3]:
df.shape

(34951, 29)

In [5]:
df['id_componente'] = df.id_componente.astype(int)
df['ch_teorico'] = df.ch_teorico.astype(int)
df['ch_pratico'] = df.ch_pratico.astype(int)
df['ch_estagio'] = df.ch_estagio.astype(int)
df['ch_total'] = df.ch_total.astype(int)
df['ch_dedicada_docente'] = df.ch_dedicada_docente.astype(int)
df['ch_ead'] = df.ch_ead.astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34951 entries, 0 to 34950
Data columns (total 29 columns):
id_componente               34951 non-null int64
tipo_componente             34951 non-null object
codigo                      34951 non-null object
nivel                       34951 non-null object
nome                        34951 non-null object
unidade_responsavel         34951 non-null object
ch_teorico                  34951 non-null int64
ch_pratico                  34951 non-null int64
ch_estagio                  34951 non-null int64
ch_total                    34951 non-null int64
ch_dedicada_docente         34951 non-null int64
ch_ead                      34951 non-null int64
cr_max_ead                  34951 non-null object
permite_horario_flexivel    34951 non-null object
qtd_unidades                34951 non-null object
procedimentos_avaliacao     34951 non-null object
equivalencia                34951 non-null object
pre_requisito               34951 non-null object
co_requisito                34951 non-null object
ementa                      34951 non-null object
bibliografia                34951 non-null object
objetivos                   34951 non-null object
conteudo                    34951 non-null object
competencias_habilidades    34951 non-null object
referencias                 34951 non-null object
ano_programa                34951 non-null object
periodo_programa            34951 non-null object
modalidade                  34951 non-null object
curso_componente            34951 non-null object
dtypes: int64(7), object(22)
memory usage: 7.7+ MB

In [6]:
df.to_csv('data_science/componentes-curriculares-presenciais-ok.csv')

In [7]:
teste_table = pd.read_csv('data_science/componentes-curriculares-presenciais-ok.csv',sep=',')
teste_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34951 entries, 0 to 34950
Data columns (total 30 columns):
Unnamed: 0                  34951 non-null int64
id_componente               34951 non-null int64
tipo_componente             34951 non-null object
codigo                      34951 non-null object
nivel                       34951 non-null object
nome                        34950 non-null object
unidade_responsavel         34951 non-null object
ch_teorico                  34951 non-null int64
ch_pratico                  34951 non-null int64
ch_estagio                  34951 non-null int64
ch_total                    34951 non-null int64
ch_dedicada_docente         34951 non-null int64
ch_ead                      34951 non-null int64
cr_max_ead                  34951 non-null int64
permite_horario_flexivel    34951 non-null object
qtd_unidades                28194 non-null float64
procedimentos_avaliacao     4448 non-null object
equivalencia                10332 non-null object
pre_requisito               9030 non-null object
co_requisito                870 non-null object
ementa                      29718 non-null object
bibliografia                0 non-null float64
objetivos                   9737 non-null object
conteudo                    9735 non-null object
competencias_habilidades    9579 non-null object
referencias                 4445 non-null object
ano_programa                9693 non-null float64
periodo_programa            9693 non-null float64
modalidade                  34951 non-null object
curso_componente            8348 non-null object
dtypes: float64(4), int64(9), object(17)
memory usage: 8.0+ MB

In [20]:
df_turmas = pd.DataFrame()

# concatenar todas as turmas de 2010 a 2017
for i in range(10,18):
    for j in range(1,3):
        print(str(i)+str(j))
        f = open('data_science/turmas_new/turmas-20'+str(i)+str(j)+'.csv')
        d = f.read()
        d = d.replace("\n","")
        x = d.split("\";\"")
        a = []
        step = 25
        for b in range(0, len(x), step):
            a.append(x[b:b+step])
        df = pd.DataFrame(a[1:],columns=['id_componente']+a[0][1:])
#         df_turma = pd.read_csv('data_science/turmas-teste/turma-20'+str(i)+str(j)+'.csv',sep=',')
        df_turmas = pd.concat([df_turmas, df])

# filtra disciplinas da graduação
# df_turmas = df_turmas[df_turmas['nivel_ensino'] == 'GRADUAÇÃO']

# colunas importantes
# columns_1 = ['id_turma', 'nome_ascii', 'id_docente_interno', 'ano', 'periodo',
#              'codigo_turma', 'descricao_horario', 'id_componente_curricular']
# df_turmas = df_turmas[columns_1]

101
102
111
112
121
122
131
132
141
142
151
152
161
162
171
172

In [10]:
df_turmas[df_turmas['id_componente'] == '1151163'].total_solicitacoes

3    1
Name: total_solicitacoes, dtype: object

In [21]:
df_turmas.periodo.value_counts()

2    103916
1    100693
Name: periodo, dtype: int64

In [24]:
df_turmas['id_componente'] = df_turmas.id_componente.astype(int)
df_turmas['id_componente_curricular'] = df_turmas.id_componente_curricular.astype(int)
df_turmas['ano'] = df_turmas.ano.astype(int)
df_turmas['periodo'] = df_turmas.periodo.astype(int)

df_turmas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204609 entries, 0 to 14471
Data columns (total 25 columns):
id_componente               204609 non-null int64
codigo_turma                204609 non-null object
id_docente_interno          204609 non-null object
id_docente_externo          204609 non-null object
observacao                  204609 non-null object
id_componente_curricular    204609 non-null int64
nivel_ensino                204609 non-null object
campus_turma                204609 non-null object
local                       204609 non-null object
ano                         204609 non-null int64
periodo                     204609 non-null int64
data_inicio                 204609 non-null object
data_fim                    204609 non-null object
descricao_horario           204609 non-null object
total_solicitacoes          204609 non-null object
capacidade_aluno            204609 non-null object
tipo                        204609 non-null object
distancia                   204609 non-null object
data_consolidacao           204609 non-null object
agrupadora                  204609 non-null object
id_turma_agrupadora         204609 non-null object
qtd_aulas_lancadas          204609 non-null object
situacao_turma              204609 non-null object
convenio                    204609 non-null object
modalidade_participantes    204609 non-null object
dtypes: int64(4), object(21)
memory usage: 40.6+ MB

In [25]:
df_turmas.to_csv('data_science/turmas-2010-2017-ok.csv')

In [75]:
teste_turmas_table = pd.read_csv('data_science/turmas-2010-2017-ok.csv',sep=',')
teste_turmas_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204614 entries, 0 to 204613
Data columns (total 26 columns):
Unnamed: 0                  204614 non-null int64
id_componente               204614 non-null int64
codigo_turma                204583 non-null object
id_docente_interno          195251 non-null float64
id_docente_externo          9363 non-null float64
observacao                  7435 non-null object
id_componente_curricular    204614 non-null int64
nivel_ensino                204614 non-null object
campus_turma                141577 non-null object
local                       202545 non-null object
ano                         204614 non-null int64
periodo                     204614 non-null int64
data_inicio                 204614 non-null object
data_fim                    204614 non-null object
descricao_horario           180316 non-null object
total_solicitacoes          170053 non-null float64
capacidade_aluno            187182 non-null float64
tipo                        204614 non-null object
distancia                   204614 non-null object
data_consolidacao           188832 non-null object
agrupadora                  204614 non-null object
id_turma_agrupadora         16461 non-null float64
qtd_aulas_lancadas          108863 non-null float64
situacao_turma              204614 non-null object
convenio                    1 non-null object
modalidade_participantes    204614 non-null object
dtypes: float64(6), int64(5), object(15)
memory usage: 40.6+ MB

/home/andreza/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)